*{
    margin: 0px;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fuentes/Montserrat-Bold.ttf");
  
} 

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fuentes/Poppins-Light.ttf");
  
} 

@font-face {
  font-family: "OpenSans-Light";
  src: url("./assets/fuentes/OpenSans-Light.ttf");
  
} 

/*fuente inicio*/
  
@font-face {
  font-family: "Signika-Bold";
  src: url("./assets/fuentes/Signika-Bold.ttf");
  
} 
@font-face {
  font-family: "Inter";
  src: url("./assets/fuentes/Inter-VariableFont_slnt\,wght.ttf");
  
} 

  .contenedor{

    width: 100%;

  }
  .izquierda{
      width: 50%;
      background-image: linear-gradient(to bottom, #616361, #343534); 
      float: left;
      height: 100vh;
      display: flex;
     justify-content: center;
     align-items: center;
      
  }
  .derecha{
      width: 50%;
      background-image: linear-gradient(to bottom, #5eff73, #048a04); 
      float: left;
      height: 100vh;
      display: flex;
     justify-content: center;
  }
  .formulario{

    position: absolute;
    left: 60%;
    top: 20%;
  }
  .image_titanes{
      width: 400px;
  }
 
  .tarjeta{
    box-shadow: 0px 0px 35px 1px rgb(4, 204, 4);
    background-color: white;
    border-radius: 15px;
    width: 25rem;
    
  }
  .tarjeta-body{
   
     text-align: center;

  }
  .input-index{

    border-radius: 6px;
    border-color: white;
    border: 0;
    background-color: rgb(245, 243, 243);
    height: 28px;
    transition: all 0.5s ease-out;
  }
  .button-login:hover{

    background-color: greenyellow;
  }
  .input-index:focus{
    outline: none;
    border-bottom: 3px solid greenyellow;
    background-color: white;
    border-radius: 0px;
  }
  .formulario{
      text-align: center;
  }

  #navBar{
      background-color: rgb(15, 28, 32);
  }
  #navBar .nav-link{

    color: rgb(224, 222, 222);
    transition: all 0.5s ease-out;
    font-size: 15px;
    padding-bottom: 9px;
    
   
  }
  #navBar .opcion:hover{
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(24, 195, 7);
    color: rgb(24, 195, 7);
    
  }


  #navBar .opcion:focus{
   
    color: rgb(24, 195, 7);
    /* text-shadow: 3px 3px 5px  rgb(24, 195, 7); */
  }
  .bg-mi-perfil{
    background-color: #f1f0f0;
    border-radius: 10px;
    min-width: 230px;
    height: 40px;
    box-shadow: 0px 0px 12px 1px rgb(3, 182, 3);
  }
  .bg-mi-perfil:hover{

   /*  box-shadow: 0px 0px 22px 1px rgb(3, 182, 3); */
  }
  @media (max-width: 600px) {

    .formulario{

        left: 20%;
        top: 25%;
      }
      .image_titanes{
        width: 100px;
        position: absolute;
        left: 10px;
        top: 10%;
    }
    .tarjeta{
       width: 15rem;
      }

      /*media participante*/
     
     #fecha-participante{
       display: none;
     }
     .distribuidora-participante{
       display: none;
       background-color: #343534;
     }
     .card-title, .card-subtitle{
      font-size: 14px;;
     } 
     .nombre-participante{
      max-width: 70px;
      margin-left: 2px;
      
     } 
     .ciudad-participante{
       font-size: 13px;
     }
     .ubicacion-participante{
      max-width: 90px;
      margin-top:35px;
     }
     .departamento-participante{
      display: none;
      
     }
  }

  /*participante*/
  .body{
    background-color: rgb(243, 243, 245);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255),#e3e6e3); 
    
  }

.button-participante{

  border: none;
  background-color:rgb(7, 165, 7); 
  background-image: linear-gradient(rgb(7, 165, 7),rgb(11, 214, 11));
  color: white;
  border-radius: 5px;
  font-size: 13px;
  transition: all 0.4s;
}
.button-participante:hover{

  box-shadow: 0px 0px 12px 1px rgb(3, 182, 3);
}

.button-participante-importar{

  border: 1px solid rgb(3, 182, 3);
  background-color:white; 
  background-image: linear-gradient(rgb(255, 255, 255),rgb(243, 245, 243));
  color: rgb(3, 182, 3);
  border-radius: 5px;
  font-size: 13px;
}
.button-participante-importar:hover{

  background-color:rgb(3, 182, 3);
  color: rgb(34, 33, 33);
 
}
.contenedor-cabecera{
  line-height: 0.1;
}
.editar-participante{
  border:none;
  border-radius: 5px;
  background-color:rgb(247, 126, 28); 
  color:white;
  font-size: 13px;
  max-height: 23px;
}
.inactivar-participante{
  border:none;
  border-radius: 5px;
  background-color:rgb(3, 182, 3); 
  color:black;
  font-size: 13px;
}
.contenedor-participante{

  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgb(248, 246, 246);
  height: 1000px;
  border:1px solid rgb(221, 219, 219)
}
.tarjeta-participante{

  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  color: rgb(36, 35, 35);
  border-bottom: 1px solid rgb(202, 200, 200);
  box-shadow: 0px 0px 9px 1px rgba(19, 19, 19, 0.185);
  max-width: 800px;
  min-width: 100px;
  max-height: 80px;
  cursor: pointer;
}
.tarjeta-participante:hover{
  box-shadow: 0px 0px 9px 1px rgb(141, 141, 141);
}
.contenedor-header{
  
}
.nombre-apellido-participante{
  font-size: 15px;
  font-weight: bold;
}
.cedula-participante{
  font-size: 14px;
  /* font-family: "Poppins-Light"; */
}
.dato-supervisor{
  line-height: 0.3;
  text-align: center;
  font-size: 14px;
}
.dato-telefono{
  font-size: 14px;
  color: #4d4e4d;
}

.dato-nombre{
  font-family: "OpenSans-Light";
  font-size: 19px;
}
.monserrat-text{
  font-family: "Montserrat";
}
.mes-ano-participante{
  line-height: 0.8;
}
.ano-participante{
  font-size: 11px;
  color: #037503;
  font-weight: bold;
}
.busqueda-nombre{

  border-radius: 6px;
  border:none;
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(219, 218, 218);
  outline: none;
  box-shadow: 0 0 7px 1px rgb(236, 235, 235);
}
.busqueda-nombre:focus{

  border: 1px solid green
}
.titulo-campos{
  width: 100%;
  /* background-image: linear-gradient(rgb(134, 133, 133), rgb(83, 83, 83)); */
  border-bottom: 1px solid rgb(185, 185, 185);
  border-top: 1px solid rgb(202, 200, 200);
  padding-bottom: 5px;
  margin-bottom: 15px;
  /* border-radius: 7px; */
}
.titulo-fecha{
}
.titulo-nombre{
  margin-left: 60px;
}
.titulo-ciudad{
  margin-left: 120px;
}
.titulo-distribuidora{
  
  margin-left: 160px;
}
.titulo-accion{
  
  margin-left: 100px;
}
  .titulo-font{
    font-size: 12px;
    /* color: rgb(194, 191, 191); */
    color: rgb(133, 131, 131);
  }
.participantes-text{
  background: linear-gradient(rgb(32, 32, 32),rgb(124, 123, 123));
  -webkit-background-clip: text;
  color: transparent;  
}
.datos-participantes-text{
  background: linear-gradient(rgb(32, 32, 32),rgb(124, 123, 123));
  -webkit-background-clip: text;
  color: black;  
  font-size: 12px;
}
.datos-participantes-subtext{
  background: linear-gradient(rgb(32, 32, 32),rgb(124, 123, 123));
  -webkit-background-clip: text;
  color: black;  
  font-size: 10px;
}
.titan-text{
  background: linear-gradient(rgb(32, 32, 32),rgb(124, 123, 123));
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px rgb(131, 247, 108);
}

.nombre-participante{

  width: 300px;
  margin-left: 1rem;
  line-height: 1;
  padding-left: 10px;
}
#fecha-participante{

  width: 200px;
  margin-left: 1rem;
}
.ciudad-participante{

  width: 150px;
  margin-left: 1rem;
  font-weight: bold;
  color: #343534;
  
}
.departamento-participante{
  font-size: 14px;
}
.ubicacion-participante{
  line-height: 1;
}
.distribuidora-participante{
  width: 330px;
  height: 42px;
  background-color:rgb(253, 252, 252); 
  /* margin-top:45px; */ 
  margin-bottom:10px; 
  border-radius:20px;
  text-align: center;
  border:1px rgb(190, 189, 189) solid;
  text-align: center;
  line-height: 0.5;

}

/*informacion especifica participante*/
.contenedor-datos-participante{
   width: 16rem;
   background-color: #fcfcfc;
   height: 450px;
   border-radius: 15px;
   box-shadow: 0 0 15px 1px rgb(208, 209, 208);
  
   opacity: 0;
   transition: all 15s;
}
.movement{
  opacity: 1;
  -webkit-animation: moveFromRight 300ms ease-in-out;
  -moz-animation: moveFromRight 300ms ease-in-out;
  -ms-animation: moveFromRight 300ms ease-in-out;
  -o-animation: moveFromRight 300ms ease-in-out;
  animation: moveFromRight 300ms ease-in-out;
}

.movement_from_top{
  opacity: 1;
  -webkit-animation: moveFromtop 300ms ease-in-out;
  -moz-animation: moveFromtop 300ms ease-in-out;
  -ms-animation: moveFromtop 400ms ease-in-out;
  -o-animation: moveFromtop 400ms ease-in-out;
  animation: moveFromtop 400ms ease-in-out;
}



@-webkit-keyframes moveFromRight {
  from {
      opacity: 0;
      -webkit-transform: translateX(-200%);
      -moz-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      -o-transform: translateX(-200%);
      transform: translateX(-200%);
  }
  to {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
  }
}

@-webkit-keyframes moveFromtop {
  from {
      opacity: 0;
      -webkit-transform: translateY(-200%);
      -moz-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
      -o-transform: translateY(-200%);
      transform: translateY(-200%);
  }
  to {
      opacity: 1;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

/*edicion input*/

.input-edicion{

  outline: none;
  border:1px solid rgb(185, 184, 184);
 /*  border-bottom: 1px solid rgb(3, 184, 3); */
  background-color: white;
 /*  text-align: center; */
   box-shadow: 0px 0px 9px 1px rgb(196, 195, 195); 
  border-radius: 2px;
  color: #909190;
  font-size: 14px;
  padding-left: 5px;
  width: 150px;
  
 
}
.input-edicion:hover{

  border:1px solid rgb(133, 132, 132);
}
.dato-direccion{
 /*  border-bottom: 3px solid green;
  width: 150px; */
  font-size: 13px;
  color: #4d4e4d;
}
.modal-content{
  background-image: url("./pared.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
  
}
/* .modal-content:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(230, 225, 225, 0.6);
} */
.modal-efect-header{
  background-color: rgb(187, 184, 184);
}
.titulo-modal-datos{
  color: #4e4d4c;
}
.cabecera-modal-datos{

  background-color: rgba(104, 103, 103, 0.151);
   height: 10px;
}
.registro-informacion-text{
  background: linear-gradient(to right,rgb(75, 74, 74),rgb(236, 235, 235));
  -webkit-background-clip: text;
  color: transparent;  
  opacity: 1;
  transition: all 1s;
  
 
}
.titanes-text{
  margin-left: 80px; 
  color:rgb(247, 173, 14);
  text-shadow: 20px 10px rgb(216, 214, 214);
  line-height: 10%;
  /* text-shadow: 2px 2px 5px rgba(243, 150, 10, 0.514); */
}
.registro-text{
    
  /* text-shadow: 2px 2px 5px rgba(131, 247, 108, 0.514); */
}
#cargo{
  width: 150px;
}
.registro-informacion-visible{
  opacity: 1;
}
.span-data{
  font-size: 14px;
  color: #363636;
  text-shadow: 2px 2px 5px rgb(216, 215, 215);
}
.span-info{
  font-size: 11px;
  color: #5c5b5b;
  
}
.formulario_usuario{

}

.footer{
  background-image: linear-gradient(320deg,green,black);
}
.nit-distribuidora{
  font-size: 12px;
}
/*inicio*/

.text-image{

 
}
.primer-row{
  text-align: center;
}
.segundo-row{
  padding-left:200px;
  padding-right: 300px;
  padding-top: 100px;
}
.titulo-plataforma{
  font-family: 'Signika-Bold';
  font-size: 45px;
  color: #363636;
}
.mensaje-upfield{

  margin-top: 100px;
  margin-left: 240px;
  opacity: 0;
  transition: all 5s;
  line-height: 1;
  
}
.subtitulo-mensaje-upfield{
  margin-left: 80px;
  font-size: 18px;
  font-family: 'Inter';
 
}
.titulo-mensaje-upfield{
 
  font-family: 'Signika-Bold';
  font-size: 40px;
  color: #363636;
}
#imagenes_fechas{
 
   transition: all 9s; 
}
.display{
  visibility: hidden;
}
.logo-upfield{
  /* position: relative;
  left: 35%; */
}
.imagen1{
  
  text-align: center;
}
.imagen2{
 
  text-align: center;
}
.titulo-tacticos{
  margin-top: 100px;
  margin-left: 50px;
  font-size: 50px;
  font-family: 'Signika-Bold';
  color: #363636;
  transition: all 9s;
}
.text-tacticos{
 /*  font-family: 'Signika-Bold'; */
  color: #363636;
  margin-left: 50px;
  transition: all 9s;
  opacity: 0;
}
@-webkit-keyframes moveFrombottom {
  from {
      opacity: 0;
      -webkit-transform: translateY(60%);
      -moz-transform: translateY(60%);
      -ms-transform: translateY(60%);
      -o-transform: translateY(60%);
      transform: translateY(60%);
  }
  to {
      opacity: 1;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}
.movement_from_bottom{
  opacity: 1;
  -webkit-animation: moveFrombottom 900ms ease-in-out;
 /*  -moz-animation: moveFrombottom 300ms ease-in-out;
  -ms-animation: moveFrombottom 300ms ease-in-out;
  -o-animation: moveFrombottom 300ms ease-in-out;
  animation: moveFrombottom 300ms ease-in-out; */
}

